* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gap: .5em;
  --index: calc(1vw + 1vh);
  --color-dark: #000;
}

body {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Размер шрифта Title */
.title {
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: .1em;
  font-size: calc(var(--index) * 2);
  position: absolute;
  font-weight: 200;
  text-align: center;
  opacity: .9;
  margin-top: .2em;
}
/* Размер шрифта loader */
.title__loading {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: calc(var(--index) * .75);
  margin-top: 5px;
}

.gallery {
  width: 30vw;
  column-width: 2em;
  gap: var(--gap);
  transform: scale(9);
  will-change: transform;
  transition: transform 1s cubic-bezier(0.075, 1, .25, 1), opacity 1s;
}

.gallery__item {
  margin-bottom: var(--gap);
  transform: scale(1.001);
  will-change: transform;
  transition: .3s;
}
/* Увеличивает изображение при наведении */
.gallery__item:hover {
  transform: scale(1.1);
}

.gallery__item img {
  width: 100%;
  display: block;
}

.loaded .gallery {
  opacity: 1;
}

.loaded .title span {
  opacity: 0;
}

/* DARK MODE OS */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
  }

  .title {
    filter: invert(100%);
  }
}
